/* Christina Aiello, 11/9/2015 */

/* Title of Page */
h1 {
  font-size: 22px;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  text-align: left;
  padding-left: 10px;
  color: #7f7fc5;
}
h2 {
  font-size: 18px;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  text-align: left;
  padding-left: 10px;
  color: #7f7fc5;
}
/* Body text on page */
body {
  font-size: 20px;
  color: #000033;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
/* All labels on charts */
.labels {
  font-size: 12px;
  font-weight: bold;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

.tableCellLabel{
  font-weight: bold;
  width: 150px;
  padding: 20px;
  background-color: #4d4d8c;
  color: #ffffff;
}

#percentage {
  background-color: #9999ff;
  width: 60px;
  height: 40px;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  font-size: 20px;
  text-align: center;
}

.tableCell{
  width: 150px;
  padding: 20px;
  background-color: #c9c9ed;
}

#submit {
  background-color: #000033;
  color: #ffffff;
  width: 100px;
  height: 40px;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  font-size: 20px;
  text-align: center;
}

.chart div {
  font: 10px sans-serif;
  background-color: white;
  padding: 5px;
  margin: 5px;
  color: white;
}

.outerDiv {
  padding-left: 50px;
  padding-top: 25px;
}

.leftMargin {
  margin-left: 20px;
}

.chartHolder {
  background-color: #000033;
  padding: 20px;
  width: 600px;
}

#secondCorrectNumber, #firstCorrectNumber{
  visibility: hidden;
}
